{
    # EX: use enterprise ACME server
    # acme_ca https://ca.internal/acme/ACME/directory

	auto_https off
	admin off
}

apps.contoso.com {
    # EX: nable
    # tls /certs/server/fullchain.pem /certs/server/privkey.pem

    # EX: add a route
	handle_path /code/* {
        # EX: prefix inject
        # rewrite * /ide{uri}
		reverse_proxy http://127.0.0.1:8080
	}

    # fallback
	handle {
		reverse_proxy http://127.0.0.1:8090
	}
}
